.middle-block {
    text-align: center;
    margin: 10px;
    font-weight: bolder;
    h1, h3, h4 {
        color: #fff;
        width: 500px;
        margin: 2px auto;
        padding: 10px;
        
    }
    h1 {
        font-size: 50px;
        margin-top: 90px;
        font-weight: bolder;
    }
    h4 {
        font-size: 14px;
    }
    h3 {
        font-size: 23px;
    }
}